<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>诺心蛋糕店</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <style>[v-cloak]{display:none;}</style>
</head>
<body>
  <div class="article">
    <div class="header">
      <!--登录/注册-->
      <div class=header_top>
        <div class=header_top_right>
          <div v-if="signout" class="notLogin">
            <a href="#" @click.prevent="goLogin">登录</a>
            <span>/</span>
            <a href="http://localhost:3000/register.html">注册</a>
          </div>
          <div v-if="isLogin" class="isLogin" v-cloak>
            <span>欢迎您，</span>
            <span v-text="uname"></span>
            <a href="#" class="signout" @click.prevent="signOut">退出</a>
            <a href="#" @click.prevent="myIndent">我的订单</a>
          </div>
          <p class="header_top_wechat">
            <img src="img/header/wechat.png" class="top_wechat_img">
            微信
          </p>
        </div>
      </div>
      <!--定位和logo-->
      <div class="header_middle">
        <div class="header_location">
          <a href="#" class="location">
            <span class="one">成都</span>
            <span class="two">查询地址是否可以配送</span>
          </a>
        </div>
        <div class="header_logo">
          <img src="img/header/logo_new.png">
        </div>
        <div class="header_search">
          <input type="text" placeholder="雪域牛乳芝士" class="header_search_input" v-model="search_text" @keyup.13="search">
          <a href="#" class="one" @click.prevent="search"></a>
          <a href="#" class="two" @click.prevent="shoppingCart">
            <span :class="carCount==''?'hide':'showCount'" v-text="carCount"></span>
          </a>
        </div>
      </div>
      <!--nav-->
      <nav>
        <ul class="nav_list">
          <li>
            <a href="#" class="nav_list_first nav_active" @click.prevent="navItemOne">首页</a>
          </li>
          <li>
            <a href="#" class="nav_list_two"  @click.prevent="navItemTwo">蛋糕</a>
          </li>
          <li>
            <a href="#" class="nav_list_three" @click.prevent="navItemThree">吐司</a>
          </li>
          <li>
            <a href="#" class="nav_list_four" @click.prevent="navItemFour">礼品</a>
          </li>
          <li>
            <div class="nav_area">
              <a href="#">企业专区</a>
              <ul class="nav_area_list">
                <li><a href="#">企业采购</a></li>
                <li><a href="#">大客户区</a></li>
                <li><a href="#">福利券区</a></li>
                <li><a href="#">合作专区</a></li>
                <li><a href="#">小食盒区</a></li>
            </ul>
            </div>
          </li>
          <li>
            <div class="nav_user">
              <a href="#" @click.prevent="navItemFive">我的诺心</a>
              <ul class="nav_user_list">
                <li><a href="#" @click.prevent="CLUB">LECLUB</a></li>
                <li><a href="#" @click.prevent="myIndent">我的订单</a></li>
                <li><a href="#">找回密码</a></li>
                <li><a href="#" @click.prevent="card">礼卡专区</a></li>
            </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <!-- 轮播图模块 -->
      <div v-show="loadBanner" class="banner">
        <div class="carousel">
          <!-- banner图片 -->
          <div class="carousel_inner">
            <div class="carousel_item" :style=`transform:translateX(${left}px);transition-duration:${time}ms;`>
              <a :href="item.skip_url" v-for="item in list" class="carousel_item_img">
                <img :src="item.img_url">
              </a>
            </div>
          </div>
          <!-- left right 指示符 -->
          <a href="#" class="carousel_control_prev" @click.prevent="carouselPrev"  @mouseover="carouselOver" @mouseout="carouselOut"></a>
          <a href="#" class="carousel_control_next" @click.prevent="carouselNext"  @mouseover="carouselOver" @mouseout="carouselOut"></a>
        </div>  
      </div>
      <!-- 商品列表模块 -->
      <div v-show="loadProduct" class="product">
        <!-- 上面两张 -->
        <div class="product_title">
          <a :href="proitem.skip_url" v-for="proitem in proTitle" :key="proitem.tid">
            <img :src="proitem.img_url">
          </a>
        </div>
        <!-- 下面八张 -->
        <div class="product_list">
          <div v-cloak class="product_detail"  v-for="listItem in proList" :key="listItem.id">
            <div class="product_detail_pic">
              <a :href="listItem.skip_url">
                <img :src="listItem.img_url">
              </a>
            </div>
            <a :href="listItem.skip_url" class="product_name" v-text="listItem.title"></a>
            <div class="product_tag">
              <span v-text="listItem.tag1" :class="listItem.tag1=='' ? 'hide':''"></span>
              <span v-text="listItem.tag2"  :class="listItem.tag2=='' ? 'hide':''"></span>
            </div>
            <div class="product_salary">
              <p v-text="listItem.price"></p>
              <p class="product_salary_vip" :class="listItem.price_vip=='' ? 'hide':''">
                <img src="../img/index/list/vip.png">
                <span v-text="listItem.price_vip"></span>
              </p>
            </div>
            <a href="#" class="product_shopping_car" @click.prevent="addCart(listItem.pid)">加入购物车+&nbsp;</a>
          </div>   
        </div>
        <div class="product_more"><a href="#">更多蛋糕 ></a></div>
      </div>
      <!-- F1模块 -->
      <div v-cloak v-show="loadF1" class="pub">
        <a href="#" class="pub_title" @click.prevent="navItemThree">
          <img src="img/F1/F1_title.jpg">
        </a>
        <div class="pub_text">
          <div class="pub_product_list">
            <div v-cloak class="pub_product_detail" v-for="toastItem in toastList">
              <div class="pub_product_detail_pic">
                <a :href="toastItem.skip_url">
                  <img :src="toastItem.img_url">
                </a>
              </div>
              <a :href="toastItem.skip_url" class="pub_product_name" v-text="toastItem.title"></a>
              <div class="pub_product_tag">
                <span v-text="toastItem.tag1" :class="toastItem.tag1=='' ? 'hide':''"></span>
                <span v-text="toastItem.tag2" :class="toastItem.tag2=='' ? 'hide':''"></span>
              </div>
              <div class="pub_product_salary">
                <p v-text="toastItem.price"></p>
                <p class="pub_product_salary_vip" :class="toastItem.price_vip=='' ? 'hide':''">
                    <img src="../img/index/list/vip.png">
                    <span v-text="toastItem.price_vip"></span>
                </p>
              </div>
              <a href="#" class="pub_product_shopping_car" @click.prevent="ToastCart(toastItem.tid)">加入购物车+&nbsp;</a>
            </div>
          </div>
        </div>
        <div class="pub_product_more"><a href="#">更多吐司 ></a></div>
      </div>
      <!-- F2模块 -->
      <div v-cloak v-show="loadF2" class="pub">
        <a href="#" class="pub_title" @click.prevent="navItemFour">
          <img src="img/F2/F2_title.jpg">
        </a>
        <div class="pub_text">
          <div class="pub_product_list">
            <div v-cloak class="pub_product_detail" v-for="giftItem in giftList">
              <div class="pub_product_detail_pic">
                <a :href="giftItem.skip_url">
                  <img :src="giftItem.img_url">
                </a>
              </div>
              <a :href="giftItem.skip_url" class="pub_product_name" v-text="giftItem.title"></a>
              <div class="pub_product_tag">
                <span v-text="giftItem.tag1" :class="giftItem.tag1=='' ? 'hide':''"></span>
                <span v-text="giftItem.tag2" :class="giftItem.tag2=='' ? 'hide':''"></span>
              </div>
              <div class="pub_product_salary">
                <p v-text="giftItem.price"></p>
                <p class="pub_product_salary_vip" :class="giftItem.price_vip=='' ? 'hide':''">
                    <img src="../img/index/list/vip.png">
                    <span v-text="giftItem.price_vip"></span>
                </p>
              </div>
              <a href="#" class="pub_product_shopping_car" @click.prevent="GiftCart(giftItem.gid)">加入购物车+&nbsp;</a>
            </div>
          </div>
        </div>
        <div class="pub_product_more"><a href="#">更多礼品 ></a></div>
      </div>
      <!-- 用户评论模块 -->
      <div v-cloak v-show="loadComment" class="user_comment">
        <h3>用户评论</h3>
        <div class="user_comment_text">
          <div class="user_comment_page1">
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header1.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>口感一如既往的棒。流心有点甜,但是不影响整体的口感!</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment1.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header2.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>好吃666666</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment2.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header3.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>蛋糕非常不错，芝士味浓郁，不甜不腻，家人都喜欢的味道！</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment3.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
          </div>
          <div class="user_comment_page2">
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header4.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>口感一如既往的棒。流心有点甜,但是不影响整体的口感!</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment4.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header5.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>好吃666666</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment5.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
            <div class="user_comment_page">
              <div class="user_comment_header">
                <img src="img/index/user/user_header_6.png">
              </div>
              <div class="user_id">
                <p>134****2844</p>
              </div>
              <div class="user_comment_detail">
                <div class="user_comment_describe">
                  <p>蛋糕非常不错，芝士味浓郁，不甜不腻，家人都喜欢的味道！</p>
                  <p>2018-09-27</p>
                </div>
                <div class="user_comment_product">
                  <a href="#"><img src="img/index/user/user_comment6.png"></a>
                  <a href="#">立即购买</a>
                </div>
              </div>
            </div>
          </div>
          <a href="#"class="user_comment_prev"></a>
          <a href="#" class="user_comment_next"></a>
        </div>
      </div>
    <!-- 购物车模态框 -->
      <div v-cloak class="addCart_bg" v-show="cartBg"></div>
      <div v-cloak class="addCart" v-show="isaddcart">
        <div class="addCart_hint">
          <p>诺心蛋糕</p>
          <p @click="closeCart1">X</p>
        </div>
        <div class="addCart_text">
          <div class="addCart_title">
            <p v-text="carCake.title"></p>
            <p v-text=`￥${carCake.price}`></p>
          </div>
          <div>
            <table>
              <tr>
                <td>
                  <p  v-text=`口味：${carCake.taste}`></p>
                </td>
                <td>
                  <p v-text="carCake.spec"></p>
                </td>
                <td>
                  <p>含五套餐具</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p v-text=`甜度：${carCake.sweet}`></p>
                </td>
                <td>
                  <p v-text="carCake.kg"></p>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="addCartNow">
            <button @click.prevent="goaddCart(carCake.id)">加入购物车</button>
          </div>
        </div>
      </div>
      <div v-cloak class="addCartSuccess" v-show="success">
          <div class="addCart_hint">
            <p>提示信息</p>
            <p @click="closeCart2">X</p>
          </div>
          <div class="cartMessage">
            <p>加入购物车成功</p>
          </div>
          <div class="cartSuccess">
            <button @click="account">去结算</button>
          </div>
      </div>
    </div>
    <div v-cloak v-show="loadFooter" class="footer" v-cloak>
      <!--客服和微信-->
      <div class="footer_top">
        <a href="#" class="footer_top_left">在线客服</a>
        <a href="#" class="footer_top_right">微信
          <img src="img/footer/wechat.png">
        </a>
      </div>
      <!--客户电话-->
      <div class="tel">
        <span>客服电话：4001-578-578 服务时间（08:30-22:30）</span>
      </div>
        <!-- nav列表 -->
      <div class="footr_nav">
        <p class="footer_nav_list">
          <a href="">诺心公告</a>
          <a href="">关于诺心</a>
          <a href="">联系我们</a>
          <a href="">客服服务</a>
          <a href="">食品经营许可证</a>
          <a href="">生产许可证</a>
          <a href="">预付费协议</a>
          <a href="" class="last">上海工商</a>
        </p>
      </div>
      <!-- 公司 -->
      <div class="add">
        <p>诺心食品（上海）有限公司&nbsp;&nbsp;&nbsp;上海徐汇区田林路140号28号楼503室&nbsp;&nbsp;客服邮箱：services@lecake.com&nbsp;&nbsp;公司电话：4001-578-578</p>
      </div>
      <!-- 版权所有 -->
      <div class="copy">
        <p>copyright&copy;2010-2017诺心lecake.com版权所有&nbsp;沪ICP备10211730</p>
      </div>
    </div>
  </div>
  <script src="js/axios.min.js"></script>
  <script src="js/qs.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>